<% layout("layout/boilerplate.ejs",{ user: user, certificates:certificates})%>
<!-- <div class="container"> -->
<div class="container-dash">
    <h1 style="text-align: center;">Welcome to the Dashboard</h1>
    <h2 style="text-align: center;">Issued certificates</h2>
    <% if (user.email===process.env.instemail) { %>
        <div>
            <% if (message) { %>
                <div class="alert alert-success" style="text-align: center;">
                    <strong>Success!</strong> <%= message %>
                </div>
            <% } %>
           
            
        </div>
    <% if (certificates.length > 0) { %>
        <table border="2px solid black">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>USN</th>
                    <th>Branch</th>
                    <th>Semester</th>
                    <th>Course</th>
                    <th>Certificate</th>
                    <th>status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% certificates.forEach(certificate => { %>   
                    <tr>
                        <td><%= certificate.name %></td>
                        <td><%= certificate.usn %></td>
                        <td><%= certificate.branch %></td>
                        <td><%= certificate.sem %></td>
                        <td><%= certificate.course %></td>
                        <td><a href="https://gateway.pinata.cloud/ipfs/<%= certificate.ipfshash%>" target="_blank">View Certificate</a></td>
                        <td>
                            <% if (certificate.isRevoked) { %>
                                <span style="color: red;" class="badge bg-danger">Revoked</span>
                            <% } else { %>
                                <span style="color: lime;" class="badge bg-success">Active</span>
                            <% } %>
                        </td>
                        <td>
                            <% if (!certificate.isRevoked) { %>
                                <button class="btn btn-danger" onclick="confirmRevoke('<%= certificate.certId %>')">Revoke</button>
                            <% } else { %>
                                <button class="btn btn-danger" style="cursor: disable; background-color: gray;" disabled>Revoked</button>
                            <% } %>
                        </td>
                        <td><a href="/verify?certId=<%= certificate.certId %>">verify</a></td>
                    </tr>
                    
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p>No certificates issued yet!</p>
    <% } %>
    <% } %>
</div>
<!-- </div> -->
<script>
    setTimeout(function() {
        const alert = document.querySelector('.alert');
        if (alert) {
            alert.style.display = 'none';
        }
    }, 5000); 

    function confirmRevoke(certid) {
        const confirmation = confirm("Are you sure you want to revoke this certificate?");
        if (confirmation) {
            fetch(`/revoke/${certid}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                if (response.ok) {
                    window.location.href = '/dashboard';  // Redirect to dashboard after successful revocation
                } else {
                    alert('Failed to revoke certificate');
                }
            }).catch(err => {
                console.error('Error:', err);
            });
        }
    }
</script>